:root {
  --tap-color-black: #000;
  --tap-color-white: #fff;
  --tap-color-neutral-700: #1f1f1f;
  --tap-color-neutral-600: #4b4b4b;
  --tap-color-neutral-500: #8e8e8e;
  --tap-color-neutral-400: #cacaca;
  --tap-color-neutral-300: #e1e1e1;
  --tap-color-neutral-200: #eeeeee;
  --tap-color-neutral-100: #f5f5f5;
  --tap-color-neutral-50: #fafafa;
  --tap-color-primary-700: #00abb6;
  --tap-color-primary-600: #15c5ce;
  --tap-color-primary-500: #47cfd6;
  --tap-color-primary-400: #7ddde1;
  --tap-color-primary-300: #b0ebec;
  --tap-color-primary-200: #dff7f7;
  --tap-color-primary-100: #eefcfc;
  --tap-color-primary-50: #f9ffff;
  --tap-color-auxiliary-700: #fe632f;
  --tap-color-auxiliary-600: #ff8156;
  --tap-color-auxiliary-500: #ffa487;
  --tap-color-auxiliary-400: #ffc8b6;
  --tap-color-auxiliary-300: #ffe1d6;
  --tap-color-auxiliary-200: #fff2ee;
  --tap-color-auxiliary-100: #fff6f3;
  --tap-color-auxiliary-50: #fffcfc;
  --tap-color-danger-700: #ec2d30;
  --tap-color-danger-600: #f64c4c;
  --tap-color-danger-500: #eb6f70;
  --tap-color-danger-400: #f49898;
  --tap-color-danger-300: #ffccd2;
  --tap-color-danger-200: #ffebee;
  --tap-color-danger-100: #fef2f2;
  --tap-color-danger-50: #fffbfb;
  --tap-color-warning-700: #fe9b0e;
  --tap-color-warning-600: #ffad0d;
  --tap-color-warning-500: #ffc62b;
  --tap-color-warning-400: #ffdd82;
  --tap-color-warning-300: #ffeab3;
  --tap-color-warning-200: #fff7e1;
  --tap-color-warning-100: #fff9ee;
  --tap-color-warning-50: #fffdfa;
  --tap-color-success-700: #0c9d61;
  --tap-color-success-600: #47b881;
  --tap-color-success-500: #6bc497;
  --tap-color-success-400: #97d4b4;
  --tap-color-success-300: #c0e5d1;
  --tap-color-success-200: #e5f5ec;
  --tap-color-success-100: #f2faf6;
  --tap-color-success-50: #fbfefc;
  --tap-color-info-700: #3a70e2;
  --tap-color-info-600: #3b82f6;
  --tap-color-info-500: #4ba1ff;
  --tap-color-info-400: #93c8ff;
  --tap-color-info-300: #bdddff;
  --tap-color-info-200: #e4f2ff;
  --tap-color-info-100: #f1f8ff;
  --tap-color-info-50: #f8fcff;
}
